:root {
    --fond-color: #252525;
    --text-color: #fff;
    --accent-color: #000;
}

body {
    background-color: var(--fond-color);
}

header {
    background-color: #f8f8f8;
}

footer {
    background-color: #f8f8f8;
    display: grid;
    justify-content: center;
    margin-top: 75px;
}

footer span {
    color: #000!important;
    margin: auto;
    text-align: center;
}


h1,h2,h3,h4,h5,h6,label,span,input,p{
    color: var(--text-color);
}
div.container,
ul,
nav {
    display: flex;
    justify-content: center;
    align-items: center
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}


.container-title-page {
    margin-bottom: 50px;
    width: 100%;
    padding: 30px;
}

.content-page {
    width: 100%;
    min-height: 600px;
}

.container-form {
    background-color: #1d1d1d;
    width: 700px;
    margin: auto;
    padding: 50px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
label {
    margin-bottom: 15px;
}
input, select {
    width: 100%;
}

.btn {
    width: 200px!important;
    margin: auto!important;
}
